* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
}

.container {
    background: #1F2937;
    width: 550px;
    padding: 60px 52px;
}

h1 {
    color: white;
    font-size: 40px;
    line-height: 40px;
    font-weight: 800;
}

h1 span {
    color: #4ADF86;
}

.subtitle {
    margin-top: 10px;
    color: #D5D4D8;
    font-size: 20px;
}

#generate-btn {
    margin-top: 50px;
    background: #10B981;
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

#generate-btn:hover {
    background: #059669;
}

hr {
    margin: 35px 0;
    border: none;
    border-top: 1px solid #2F3E53;
}

.password-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.password {
    width: 210px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background: #273549;
    color: #55F991;
    font-size: 15px;
    cursor: pointer;
}