@font-face {
    font-family: 'verdana';
    src: url('/verdana.ttf') format('truetype');
}

body {
    margin: 0;
    background-color: #1B244A;
}

.container {
    display: flex;
    justify-content: center;
    margin: 50px 50px;
}

.home,
.guest {
    margin: 0 100px;
}

.main-heading {
    color: #eeeeee;
    text-align: center;
    font-size: 40px;
    font-family: 'verdana', sans-serif;
    margin: 0;
}

.total-score {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    color: #F94F6D;
    background-color: #080001;
    padding: 30px 10px 10px 10px;
    width: 155px;
    Height: 120px;
    margin: 25px 0 0 0;
}

.btn {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

button {
    color: #9AABD8;
    font-family: 'Cursed Timer ULiL', sans-serif;
    background-color: transparent;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    padding: 14px 12px 10px 12px;
}